<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo App</title>

    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <h1 class="header__title">Todo App</h1>
    </header>
    <div id="app">
      <main class="main">
        <section class="todo-input">
          <input
            class="todo-input__input"
            v-model="newTodo"
            type="text"
            placeholder="Get sh*t done!"
          />
          <button class="todo-input__button button" @click="addTodos">
            Add
          </button>
        </section>

        <section class="filter-and-options">
          <h2>Filter & Options</h2>
          <div class="radio-container" id="radio-container">
            <input
              type="radio"
              name="filter"
              id="radio-all"
              value="all"
              class="radio-button"
              checked
            />
            <label for="radio-all">All</label>
            <input
              type="radio"
              name="filter"
              id="radio-open"
              value="open"
              class="radio-button"
            />
            <label for="radio-open">Open</label>
            <input
              type="radio"
              name="filter"
              id="radio-done"
              value="done"
              class="radio-button"
              v-model="allTodos"
            />
            <label for="radio-done">Done</label>
          </div>
          <button class="button" id="delete-button" @click="deleteTodos">
            Remove Done Todos
          </button>
        </section>

        <section class="todos">
          <h2>Your Todos</h2>
          <ul class="todo-list" id="todo-list">
            <li class="todo-item">
              <input
                class="todo-item__checkbox"
                type="checkbox"
                name=""
                id="x"
              />
              <label class="todo-item__text" for="x">Learn HTML</label>
            </li>
            <li class="todo-item">
              <input
                class="todo-item__checkbox"
                type="checkbox"
                name=""
                id="y"
              />
              <label class="todo-item__text" for="y">Learn CSS</label>
            </li>
            <li class="todo-item">
              <input
                class="todo-item__checkbox"
                type="checkbox"
                name=""
                id="z"
              />
              <label class="todo-item__text" for="z">Learn JavaScript</label>
            </li>

            <li class="todo-item" v-for="todo in todos">
              <input
                class="todo-item__checkbox"
                type="checkbox"
                name=""
                id="z"
              />
              <label class="todo-item__text" for="z">{{ todo }}</label>
            </li>
          </ul>
        </section>
      </main>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
